$color-neutral-900: #121617;
$color-neutral-800: #343F41;
$color-neutral-700: #4B5B5D;
$color-neutral-600: #5E6F73;
$color-neutral-500: #7A8D92;
$color-neutral-400: #9BAFB9;
$color-neutral-300: #C4D3DA;
$color-neutral-200: #D9E2E7;
$color-neutral-100: #EFF1F3;
$color-neutral-50: #F7F9FA;
$test: #cc0000;